/* .mainbody { */
  /* text-align: center; */
  /* height:100%; */
/* } */
/* width */
/* .red{
  background: red;
}
.black{
  background: black;
} */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  /* border-radius: 1; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray; 
  /* border-radius: 6px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}



.leftSideMain{
  border:1px solid red;
  width:20%;
  position:fixed;
  top:65px;
  height:700px;
  overFlow:scroll;
}








.Postbody{
  font-family: Arial, Helvetica, sans-serif;
  margin:60px auto;
  /* padding:0; */
  /* height:100vh; */
  width: 50%;
  border:1px solid red;
   display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.post-container{
  border:1px solid red;
  width: 600px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:auto;
}
  .post{
  border:1px solid lightgray;
  /* height:400px; */
  width: 500px;
  border-radius: 10px;
  padding:20px;
  margin:20px;
  background-color: white;
  /* box-shadow:0px 0px 10px 2px lightgray; */
}

.post .profilepic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right:10px;
}
.post .postheader{
  display:flex;
  align-items: center;
  /* border:1px solid red; */
}
.post .postImage{
  width:100%;
  margin-top:10px;
}
.post .postText{
  width:100%;
  margin-top:10px;
}
.post .reaction{
  display:flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-evenly; */
  /* border:1px solid red; */
  margin-top:10px;
  width:20%;
}
.post .reaction img{
  width:30px;
  height:30px;
}
.post .postfooter{
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  /* border:1px solid red; */
  margin-top:10px;
}
.post .postfooter .icons{
  /* border:1px solid red; */
  width: 100px;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.post .postfooter img{
  width:20px;
  height:20px;
}
.post .comment-main{
  /* border:1px solid red; */
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding:6px;
}
.comment-div{
  /* border:1px solid red; */
  width: 80%;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height:40px;
  border-radius: 20px;
  /* width:30px; */
  background-color: #F0F2F5;

}
.comment-type{
  background-color: #F0F2F5;

  /* border:1px solid red; */
  width: 38%;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin:20px;
  /* height:40px; */
  /* border-radius: 20px; */
}
.comment-icons{
  background-color: #F0F2F5;
  /* border:1px solid red; */
  width: 30%;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin:20px;
}
.comment-icons img{
  width:20px;
  height:20px;
}


.navbar{
  border:1px solid red;
  display:flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height:56px;
  position:fixed;
  top:0px;
  width:100%;
  background:#FFFFFF;
}
.logo{
  border:1px solid red;
  width:3%;
  margin:4px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.logo img{
width:50px;
height:50px;
}
.searchbar{
  border:1px solid red;
  width:562px;
  height:40px;
  display:flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius:20px;
  background-color: #F0F2F5;
}
.searchbar .search-icon{
  border:1px solid red;
  margin:10px;
  font-size:25px;
  /* color: #F0F2F5; */
  color:gray;
  border-radius:100px;
  /* margin:30px; */

}
.searchbar input{
  background-color: #F0F2F5;
  font-size:18px;
width:500px;
margin:6px;
padding:6px;
height:35px;
border-radius:20px;
border:none;
}
.profilePage{
  display:flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width:10%;
  border:1px solid red;


}
.icon{
  background-color: #F0F2F5;
  height:45px;
  width:45px;
  border-radius: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  border:1px solid red;

}
.icon button{
  height:30px;
  width:30px;
  font-size: 40px;
  border-radius:100px;
  /* background: ; */
  border:none;
  display:flex;
  justify-content: center;
  align-items: center;
}
.icon img{
  height:35px;
  width:35px;
  font-size: 40px;
  border-radius:100px;
  /* background: ; */
  border:none;
  display:flex;
  justify-content: center;
  align-items: center;
}
.Postbody{
  font-family: Arial, Helvetica, sans-serif;
  margin:60px auto;
  /* padding:0; */
  /* height:100vh; */
  width: 35%;
  border:1px solid red;
   display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.post-container{
  border:1px solid red;
  width: 600px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:auto;
}
  .post{
  border:1px solid lightgray;
  /* height:400px; */
  width: 500px;
  border-radius: 10px;
  padding:20px;
  margin:20px;
  background-color: white;
  /* box-shadow:0px 0px 10px 2px lightgray; */
}

.post .profilepic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right:10px;
}
.post .postheader{
  display:flex;
  align-items: center;
  /* border:1px solid red; */
}
.post .postImage{
  width:100%;
  margin-top:10px;
}
.post .postText{
  width:100%;
  margin-top:10px;
}
.post .reaction{
  display:flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-evenly; */
  /* border:1px solid red; */
  margin-top:10px;
  width:20%;
}
.post .reaction img{
  width:30px;
  height:30px;
}
.post .postfooter{
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  /* border:1px solid red; */
  margin-top:10px;
}
.post .postfooter .icons{
  /* border:1px solid red; */
  width: 100px;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.post .postfooter img{
  width:20px;
  height:20px;
}
.post .comment-main{
  /* border:1px solid red; */
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding:6px;
}
.comment-div{
  /* border:1px solid red; */
  width: 80%;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height:40px;
  border-radius: 20px;
  /* width:30px; */
  background-color: #F0F2F5;

}
.comment-type{
  background-color: #F0F2F5;

  /* border:1px solid red; */
  width: 38%;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin:20px;
  /* height:40px; */
  /* border-radius: 20px; */
}
.comment-icons{
  background-color: #F0F2F5;
  /* border:1px solid red; */
  width: 30%;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin:20px;
}
.comment-icons img{
  width:20px;
  height:20px;
}
.Storybody{
  font-family: Arial, Helvetica, sans-serif;
  margin:60px auto;
  /* padding:0; */
  /* height:100vh; */
  width: 35%;
  border:1px solid red;
   display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.addImgMain{
  border:1px solid lightgray;
  /* height:400px; */
  width: 500px;
  border-radius: 10px;
  padding:20px;
  margin:20px;
  background-color: white;
  /* box-shadow:0px 0px 10px 2px lightgray; */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.storiesMain .postfooter{
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  border:1px solid red;
  margin-top:10px;
}
.postfooter .icons{
  border:1px solid red;
  width: 100px;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.postfooter img{
  width:20px;
  height:20px;
}
.comment-main{
  border:1px solid red;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding:6px;
}
.comment-main .profile{
  height:45px;
  width:45px;
  border:1px solid red;
  display:flex;
  align-items: center;
  justify-content: center;

}
.profile img{
border-radius:100px;
  border:1px solid red;
  height:40px;
  width:40px;

}
.comment-div{
  border:1px solid red;
  width: 80%;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height:40px;
  border-radius: 20px;
  /* width:30px; */
  background-color: #F0F2F5;

}
.comment-type{
  background-color: #F0F2F5;

  border:1px solid red;
  width: 38%;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin:20px;
  /* height:40px; */
  /* border-radius: 20px; */
}
.comment-icons{
  background-color: #F0F2F5;
  /* border:1px solid red; */
  width: 30%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin:20px;
}
.reactions{
  border:1px solid red;
  width:100%;
  height:40px;
  display:flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.reactions img{
  width:20px;
  height:20px;
}
.icons{
  border:1px solid red;
  /* margin:20px; */
}
.storiesMain{
  border:1px solid lightgray;
  /* height:400px; */
  width: 500px;
  border-radius: 10px;
  padding:20px;
  margin:20px;
  background-color: white;
  /* box-shadow:0px 0px 10px 2px lightgray; */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;

}
.StoriesHeader{
  border:1px solid red;
  /* display:flex; */
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width:100%;

}
.StoriesHeader .vCat{
  border:1px solid lightgray;
  height:50px;
  width:100px;
  margin:10px;
  border-radius:10px;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  color:gray;
  font-size:18px;
  
}
.vCat:hover{
  background-color: #F0F2F5;
  color:#1877F2;


}

.StoriesDiv{
  border:1px solid red;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
   border:1px solid lightgray;
  /* height:400px; */
  width: 500px;
  border-radius: 10px;
  padding:20px;
  margin:20px;
  background-color: white;
  /* box-shadow:0px 0px 10px 2px lightgray; */
  /* justify-content: space-around; */

}
.StoriesImg{
  border:1px solid red;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
   /* border:1px solid lightgray; */
  /* height:400px; */
  width: 500px;
  /* border-radius: 10px; */
  /* padding:20px; */
  /* margin:20px; */
  /* background-color: white; */
  /* box-shadow:0px 0px 10px 2px lightgray; */
}
.Stories{
  border:1px solid red;
  height:160px;
  width:100px;
  border-radius:10px;
  margin:8px;
  
}
.Stories img{
  height:160px;
  width:100px;
  border-radius:10px;
}
html,body,#root{
  height:100;
  border:1px solid red;
  margin:0;
  transition: all 2s ease;
  background-color:  #F0F2F5;

}

.lit{

  /* border:1px solid red; */
  margin:0;
  transition: all 2s ease;
}
.dark{
   /* border:1px solid red; */
   background-color:#18191A;
   color:white;
   margin:0;
   transition: all 2s ease;
   /* height:100%; */
}
.darkpost{
  /* color:black; */
  background-color:#242526;
  color:white;
}
.Litpost{
background-color: white;
/* height:100%; */

}
.main{
  margin-top:-5px;

}
